<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with Meyawo landing page.">
  <meta name="author" content="Devcrud">
  <title> Ingresa tus credenciales</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>

<style>@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  body {
    height: 100vh;
    background: linear-gradient(to top, #9c9cc8 50%, #8b8bb7 90%) no-repeat
}
</style>

<title>Nuevo Portafolio</title>
</head>
<body >
  {% load crispy_forms_tags %}
  <div  class="container" > 
    <br><br>
    <div class="row">
      <div class="col align-self-center">
        <div class="card">
          <div class="card-body">
            <h2>Ingresar nuevo portafolio </h2>
            <hr> 
             
              <form novalidate  action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <a href="{% url 'index' %}"> Ir a inicio</a>
                <input type="submit" value="Guardar" class="btn btn-success float-right">
              
              </form>
              
             
          </div>
        </div>
      </div>
    </div>  
  
  </div>

</body>
</html> 